<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="tumblr-card">
        <img class="avatar" src="https://64.media.tumblr.com/8b6c33aa93f4e4a">
        <h1 class="name"><%= user.username %></h1>
        <h2 class="username">@<%= user.fullName %> • <span class="follow">follow</span></h2>
        <div class="grid">
          <% user.posts.forEach(function(post){ %>
              <img src="/image/uploads/<%= post.image %>"/>
              <div><%= post.imageText %></div>
           <% }) %>
        </div>
          
        
        <a href="/logout" class="button">Logout</a>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="text" name="filecaptiont">
          <input type="file" name="file">
          <input type="submit">
        </form>
      </div>

</body>
</html>